*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/app/src/androidTest/
/app/src/test/
/gradle/
/gradle.properties
/gradlew
/settings.gradle
/gradlew.bat
/build/
/guangzhou_genyuan/自动化计费测试(可切换IP）v1.4.apk
/guangzhou_genyuan/src/test/
/guangzhou_genyuan/src/androidTest/
