<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.smssend"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    </application>

</manifest>